<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동의대학교 SW아카데미</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.deu.ac.kr/Upload/www/favicon/2018/1213091943440.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* 추가 스타일 */
      .nav-link:hover {
            text-decoration: underline;
      }
      .slide {
          display: none;
          height: 500px; /* 이미지의 높이를 고정합니다. 필요에 따라 조절 가능합니다. */
          background-size: cover; /* 이미지가 div의 크기에 맞게 조정됩니다. */
          background-position: center; /* 이미지가 중앙에 위치하도록 합니다. */
      }

      .slide img {
          width: 100%;
          height: 100%;
          object-fit: cover; /* 이미지가 div에 맞춰 자르기 되도록 합니다. */
      }
  </style>
</head>
<body>
    <nav class="bg-blue-800 p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">
          <a href="/" class="flex items-center">
            <span class="font-bold text-2xl text-white-800">Dong-Eui University SW인재양성사업단</span>
          </a>
          <div class="hidden md:flex space-x-4">
            <!-- Navigation Links -->
            <a href="{{ form_link }}" target="_blank" class="hover:bg-blue-700 px-3 py-2 rounded-md">모집 신청서</a>
            <a href="/posts" class="hover:bg-blue-700 px-3 py-2 rounded-md">공지사항</a>
            <a href="/picture" class="hover:bg-blue-700 px-3 py-2 rounded-md">활동사진</a>
            <a href="#" class="hover:bg-blue-700 px-3 py-2 rounded-md">결과물</a>
          </div>
          <!-- Mobile Menu Button -->
          <button class="md:hidden text-white focus:outline-none">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
          </button>
        </div>
      </nav>

    <div class="container mx-auto my-5 p-5 bg-white shadow-lg rounded">
        <h2 class="text-xl font-bold"></h2>

        <div class="my-3">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="my-3">
                    <!-- Post title-->
                    <h1 class="fw-bolder my-3">{{post.title}}</h1>
                    <hr/>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic my-3">{{ post.updated_at|default:post.created_at }}</div>
                    <hr/>
                    <h1 class="my-3">　</h1>
                </header>
                <!-- Post content-->
                <section class="my-3">
                    <p class="fs-5 mb-4">{{post.content|safe}}</p>
                </section>
            </article>
        </div>
        <!-- 구분선 -->
        <hr class="my-2 border-gray-300" />
        <div class="my-3">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="my-3">
                    <!-- Post title-->
                    <h1 class="fw-bolder my-3 flex justify-end items-center">
                        {% if post.file %}
                            <a href="{% url 'download-post-file' post_id=post.id %}" class="px-6 py-3 bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded-lg shadow transition duration-300 ease-in-out">
                                첨부파일 : {{ post.get_file_name }}
                            </a>
                        {% endif %}
                    </h1>
                </header>
            </article>
        </div>
    </div>

    <footer class="bg-white">
        <div class="container mx-auto my-5 p-5 bg-white shadow-lg rounded">
            <!-- 개인정보처리방침 링크 -->
            <div class="py-2 text-left">
                <a href="https://www.deu.ac.kr/www/content/61" class="text-sm text-blue-600 hover:text-blue-800" target="_blank" rel="noopener noreferrer">개인정보처리방침</a>
            </div>

            <!-- 구분선 -->
            <hr class="my-2 border-gray-300" />

            <!-- 푸터 텍스트 내용 -->
            <div class="text-sm text-gray-600 text-left">
                <span>47340 부산광역시 부산진구 엄광로 176 (가야동)</span><br>
                <span>SW인재양성사업단 | Tel: 051-890-0000 | Mail: test@deu.ac.kr</span><br>
                <span>Copyright© 2024 동의대학교 SW인재양성사업단 All Rights Reserved.</span>
            </div>
        </div>
    </footer>
</body>
</html>
